#background {
    color: black;
    text-align: center;
    /* border: black; */
    border-style: double;
    height: 100vh;
    width: 50vw;
    /* background-color: rgb(56, 47, 47); */
    background-color: rgb(136, 130, 130);
}

#main {
    background-color: black;
    padding-left: 25%;
}

#banner {
    width: 100%;
}

#smartserv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#btn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forgot password {
    color: rgb(253, 249, 249);
    text-decoration: none;
}

#inner-banner {
    background-color: #000;
    margin: 5%;
    margin-top: 8%;
}